@model  List<Forum.Models.Post>
 
@{
    Forum.Models.PostViewModel post = new Forum.Models.PostViewModel();

    List<Forum.Models.Post> answers = new List<Forum.Models.Post>();
    answers = Model;

}

<div class="container" style="background-color:lightgray">
    <h2>Answers</h2>

    <br />
    @if (ViewBag.reply == 1)
    {
        @Html.Partial("_ListAnswersCreatePost")

    }

    @Html.Partial("_NavigationAndPagingListAnswers")
      
    <div class="row">
        <div class="container">
            <div class="well " style="background-color:#f5f694">

                @Html.Partial("_ListAnswersPartial", (Forum.Models.Post)ViewBag.question, new ViewDataDictionary { { "question", true } })

            </div>
        </div>
    </div>

    @foreach (var answer in answers)
    {
        <div class="row">
            <div class="container">
                <div class="well">

                    @Html.Partial("_ListAnswersPartial", answer, new ViewDataDictionary { { "question", false } })

                </div>
            </div>
        </div>

    }


</div>

