@model List<Forum.Models.Post>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "ListQuestions";
}

<div class="container">
    <div class="well" style="border-style:solid">
        <h2>Topics</h2>

        @Html.Partial("_NavigationAndPagingListQuestions")
            
        <div class="row">
          
            <div class="col-sm-7 col-sm-offset-1">
                Title
            </div>
            <div class="col-sm-1">Answers</div>
            <div class="col-sm-1">Views</div>
            <div class="col-sm-1">Author Name</div>
            <div class="cols-sm-1">Author Picture</div>
        </div>


            @{int j = 0; }
                @foreach (var question in Model)
                {
                    @Html.Partial("_ListQuestionsPartial",question, new ViewDataDictionary { { "answersCount", ViewBag.answersPerTopic[j] } })

                    j++;
                 }

            
        
    </div>
</div>