@model List<Forum.Models.Post>
@{
    ViewBag.Title = "SearchListing";
}

<h2>SearchListing</h2>
<div class="container">
    @foreach (var answer in Model)
    {

        <div class="row">
            <div class="container">
                <div class="well">



                    <div class="row">

                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-12">
                                    @{ HtmlString HtmlTitle = new HtmlString(answer.Title);}
                                    <h3> @HtmlTitle</h3>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-sm-12">
                                    @{ HtmlString HtmlContent = new HtmlString(answer.Content);}
                                    @HtmlContent
                                </div>


                            </div>
                        </div>


                        <div class="col-sm-2">


                            <div class="row " align="center">
                            @if (answer.AuthorId != null)
                            {
                                var imgUrl = Url.Content("~/Content/images/profile/" + answer.Author.UserName + ".png") + "?time=" + DateTime.Now.ToString(); 
                                <object data="@imgUrl" type="image/png" height="50" width="50">
                                    <img src="~/Content/images/Smiley.svg.png" height="50" width="50" />
                                </object>
                             }
                            </div>

                            <div class="row" align="center">
                                @if (answer.AuthorId != null)
                                {
                                @Html.ActionLink(answer.Author.FullName, "Details", "Account", new { @id = answer.Author.Id }, null)
                                }
                            </div>


                        </div>



                    </div>



                </div>
            </div>

        </div>

     }


</div>