@model List<Forum.Models.Category>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Forum Categories";
}

<div class="container">
    <div class="well" style="border-style:none">
        <h2>Categories</h2>

        <table class="borderless" style="font-size:30px">
             

            
            <thead>
                <tr>
                    <td>Category</td>
                    <td>Topics</td>
                    <td>Views</td>
                </tr>
            </thead>
                



                @foreach (var category in Model)
                {
                    @:
                    <tr>

                        <td>@Html.ActionLink(category.Name, "ListQuestions", "Post", new { @categoryId = category.Id ,@page=1}, null)</td>
                        
                        <td>@category.Posts.Count()</td>
                        @{ List<int?> l = category.Posts.Select(x => x.Views).ToList();}
                        <td>@l.Sum()</td>
                       
                    </tr>
                                }

            
        </table>
    </div>
</div>