@model List<Forum.Models.Category>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Forum Categories";
}

<div class="container">
    <div class="well" style="border-style:none">
        <h2>Categories</h2>

        <div class="row" style="margin-top:5px">

            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                Category
            </div>

            <div class="col-sm-2">
                Questions
            </div>
            
            <div class="col-sm-2">
                Answers
            </div>
            
            <div class="col-sm-2">
                Views
            </div>

        </div>

            @foreach (var category in Model)
            {
                @:
                <div class="row" style="margin-top:5px">
                    
                    <div class="col-sm-1">
                        <img src="~/Content/images/topic.png" />
                    </div>
                    
                    <div class="col-sm-5">
                        @Html.ActionLink(category.Name, "ListQuestions", "Post", new { @categoryId = category.Id, @page = 1 }, null) 
                    </div>

                    <div class="col-sm-2">@category.Posts.Where(x=>x.ParentPostId==null).Count()</div>

                    <div class="col-sm-2">
                        @category.Posts.Where(x => x.ParentPostId != null).Count()
                    </div>

                    @{ List<int?> listViews = category.Posts.Select(x => x.Views).ToList();}
                    <div class="col-sm-2">@listViews.Sum()</div>

               </div>
                        }


       

    </div>
</div>