@model List<Forum.Models.Category>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Forum Categories";
}

<div class="container">
    <div class="well" style="border-style:none">
        <h2>Topics</h2>

        <table class="borderless" style="font-size:30px">
             

            

                



                @foreach (var category in Model)
                {
                    @:
                    <tr>

                        <td>@Html.ActionLink(category.Name, "ListQuestions", "Post", new { @categoryId = category.Id }, null)</td>
                        

                        
                       
                    </tr>
                                }

            
        </table>
    </div>
</div>